.modules-left,
.modules-center,
.modules-right {
  border-radius: 3px;
  box-shadow: 0 1px 4px @shadow;
}

#workspaces button {
  border-radius: 2px;
}

#custom-zenwolf-theme,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#battery,
#tray {
  border-radius: 2px;
}

tooltip {
  border-radius: 3px;
}
