theme[main_bg]="@BACKGROUND@"
theme[main_fg]="@FOREGROUND@"
theme[title]="@FOREGROUND@"
theme[hi_fg]="@BTP_HIGHLIGHT@"
theme[selected_bg]="@BTP_SELECTED_BACKGROUND@"
theme[selected_fg]="@BTP_SELECTED_FOREGROUND@"
theme[inactive_fg]="@MUTED@"
theme[graph_text]="@FOREGROUND@"
theme[meter_bg]="@BTP_METER@"
theme[proc_misc]="@ACCENT@"
theme[cpu_box]="@ACCENT@"
theme[mem_box]="@ACCENT@"
theme[net_box]="@ACCENT@"
theme[proc_box]="@ACCENT@"
theme[div_line]="@BTP_DIVIDER@"
theme[temp_start]="@BTP_GRADIENT_1@"
theme[temp_mid]="@BTP_GRADIENT_2@"
theme[temp_end]="@BTP_GRADIENT_3@"
theme[cpu_start]="@BTP_GRADIENT_1@"
theme[cpu_mid]="@BTP_GRADIENT_2@"
theme[cpu_end]="@BTP_GRADIENT_3@"
theme[free_start]="@BTP_GRADIENT_1@"
theme[free_mid]="@BTP_GRADIENT_2@"
theme[free_end]="@BTP_GRADIENT_3@"
theme[cached_start]="@BTP_GRADIENT_1@"
theme[cached_mid]="@BTP_GRADIENT_2@"
theme[cached_end]="@BTP_GRADIENT_3@"
theme[available_start]="@BTP_GRADIENT_1@"
theme[available_mid]="@BTP_GRADIENT_2@"
theme[available_end]="@BTP_GRADIENT_3@"
theme[used_start]="@BTP_GRADIENT_1@"
theme[used_mid]="@BTP_GRADIENT_2@"
theme[used_end]="@BTP_GRADIENT_3@"
theme[download_start]="@BTP_GRADIENT_1@"
theme[download_mid]="@BTP_GRADIENT_2@"
theme[download_end]="@BTP_GRADIENT_3@"
theme[upload_start]="@BTP_GRADIENT_1@"
theme[upload_mid]="@BTP_GRADIENT_2@"
theme[upload_end]="@BTP_GRADIENT_3@"
theme[process_start]="@BTP_GRADIENT_1@"
theme[process_mid]="@BTP_GRADIENT_2@"
theme[process_end]="@BTP_GRADIENT_3@"
