background = @BACKGROUND@
foreground = @FOREGROUND@
background-opacity = @GHOSTTY_BACKGROUND_OPACITY@
cursor-color = @GHOSTTY_CURSOR@
selection-background = @GHOSTTY_SELECTION_BACKGROUND@
selection-foreground = @GHOSTTY_SELECTION_FOREGROUND@

palette = 0=@TERMINAL_0@
palette = 1=@TERMINAL_1@
palette = 2=@TERMINAL_2@
palette = 3=@TERMINAL_3@
palette = 4=@TERMINAL_4@
palette = 5=@TERMINAL_5@
palette = 6=@TERMINAL_6@
palette = 7=@TERMINAL_7@
palette = 8=@TERMINAL_8@
palette = 9=@TERMINAL_9@
palette = 10=@TERMINAL_10@
palette = 11=@TERMINAL_11@
palette = 12=@TERMINAL_12@
palette = 13=@TERMINAL_13@
palette = 14=@TERMINAL_14@
palette = 15=@TERMINAL_15@
