{
  "wallpaper": @WALLPAPER_JSON@,
  "alpha": "100",
  "special": {
    "background": "@BACKGROUND@",
    "foreground": "@FOREGROUND@",
    "cursor": "@GHOSTTY_CURSOR@"
  },
  "colors": {
    "color0": "@TERMINAL_0@",
    "color1": "@TERMINAL_1@",
    "color2": "@TERMINAL_2@",
    "color3": "@TERMINAL_3@",
    "color4": "@TERMINAL_4@",
    "color5": "@TERMINAL_5@",
    "color6": "@TERMINAL_6@",
    "color7": "@BACKGROUND@",
    "color8": "@TERMINAL_8@",
    "color9": "@TERMINAL_9@",
    "color10": "@TERMINAL_10@",
    "color11": "@TERMINAL_11@",
    "color12": "@TERMINAL_12@",
    "color13": "@TERMINAL_13@",
    "color14": "@TERMINAL_14@",
    "color15": "@TERMINAL_15@"
  }
}
