.modules-left,
.modules-center,
.modules-right {
  border-radius: @WAYBAR_PANEL_RADIUS@px;
  box-shadow: 0 @WAYBAR_SHADOW_Y@px @WAYBAR_SHADOW_BLUR@px @shadow;
}

#workspaces button {
  border-radius: @WAYBAR_WORKSPACE_RADIUS@px;
}

#custom-zenwolf-theme,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#battery,
#tray {
  border-radius: @WAYBAR_MODULE_RADIUS@px;
}

tooltip {
  border-radius: @WAYBAR_TOOLTIP_RADIUS@px;
}
