@define-color background @WAYBAR_BACKGROUND@;
@define-color surface @WAYBAR_SURFACE@;
@define-color surface_hover @WAYBAR_SURFACE_HOVER@;
@define-color foreground @FOREGROUND@;
@define-color muted @MUTED@;
@define-color accent @ACCENT@;
@define-color border @BORDER@;
@define-color shadow @WAYBAR_SHADOW@;
@define-color selection_text @SELECTION_TEXT@;
@define-color red @RED@;
@define-color green @GREEN@;
@define-color gold @GOLD@;
