[Unit]
Description=Zenwolf wallpaper service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
